<section>
    
    <div class="card">
      <div class="card__img">
        <img src="assets\Estudiantes\IMG_0771(1).jpg" alt="Big Ben">
      </div>
    </div>
    <div class="card">
      <div class="card__img">
        <img src="assets\Estudiantes\IMG_0439(1).jpg" alt="Eiffel Tower">
      </div>
    </div>
    <div class="card">
      <div class="card__img">
        <img src="assets\Estudiantes\IMG_1188(1).jpg" alt="Colosseum">
      </div>
    </div>
    <div class="card">
      <div class="card__img">
        <img src="assets\Estudiantes\IMG_0770(1).jpg" alt="Pisa Tower">
      </div>
    </div>
    <div class="card">
      <div class="card__img">
        <img src="assets\Estudiantes\IMG_7842(1).jpg" alt="">
      </div>
    </div>
    <div class="card">
      <div class="card__img">
        <img src="assets\Estudiantes\photo_2022-11-04_14-41-12(1).jpg" alt="Sydney Opera House">
      </div>
    </div>
  
  </section>