main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    /* margin-top: 20px; */
}
.center{
    text-align: center;
    /* margin-left: 50px; */
}

.center img{
    width: 180px;
    
}
.card-responsive{
    flex-direction: row;
}

span{
display: block;
white-space: nowrap;
border-right: 5px solid var(--bg-secondary);
width: 20ch;
    animation: write 4s steps(20),
            flicker 0.4s infinite alternate;
            overflow: hidden;
}

@keyframes write {
    from{
        width: 0;
    }
}
@keyframes flicker {
    70%{
        border-color: transparent;
    }
}

@media (min-width: 350px) and (max-width: 710px){
	.card-responsive {
        flex-direction: column;
      }
}
.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 20px;
    font-family: "Roboto", sans-serif;

    span {
        text-align: justify;
        font-size: 28px;
        font-weight: 700;
        color: var(--secondary-text);
    }
    
    h1 {
        text-align: justify;
        font-size: 38px;
        font-weight: 900;
        color: var(--primary-text);
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius:10%;
           
    }

}

