<div class="main">
    <div class="fondo-color">
        <div class="main-section pad-70 card-responsive">
            <div class="center">
                <span>INTELLIGENT WORLD</span>
                <h1>Cumple tu sueño de estudiar en el exterior!</h1>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container-fluid px-0">
    <div class="row bg-dark h-100">
        <div class="col-12 px-0"> -->
            <app-main-carousel [items]="carouselData"></app-main-carousel>
        <!-- </div>
    </div>
</div> -->


<!-- <div class="container-fluid px-0">
    <div class="row bg-dark h-100">
        <div class="col-12 px-0"> -->
            <!-- <app-carousel-logos [images]="carouselData" [autoSlide]="false"></app-carousel-logos> -->
        <!-- </div>
    </div>
</div> -->



