main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    /* margin-top: 20px; */
}
/* .fondotest{
    height: 500px;
    width: auto;
    background-image: url("/assets/principal.jpeg");
    background-size: cover;
    background-position: 25% 50%;
    border-radius: 2%;
    overflow: hidden; 
    filter: blur(0.5px);
} */

.fondotest {
    position: relative;
    height: 500px;
    width: auto;
    overflow: hidden;
}

.borde-difuminado {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/principal.jpeg");
    background-size: cover;
    background-position: 25% 50%;
    border-radius: 20px; /* Ajusta el valor según lo desees */
    filter: blur(400px); /* Ajusta el valor del difuminado según lo desees */
}

/* Para que la imagen de fondo original no tenga el borde difuminado */
.fondotest::before {
    content: "";
    position: absolute;
    top: 10px; /* Ajusta el valor según el tamaño del borde difuminado */
    left: 10px; /* Ajusta el valor según el tamaño del borde difuminado */
    right: 10px; /* Ajusta el valor según el tamaño del borde difuminado */
    bottom: 10px; /* Ajusta el valor según el tamaño del borde difuminado */
    background-image: url("/assets/principal.jpeg");
    background-size: cover;
    background-position: 25% 50%;
    border-radius: 10px; /* Ajusta el valor según el tamaño del borde difuminado */
}




.center{
    text-align: center;
    /* margin-left: 50px; */
}

.center img{
    width: 180px;
    
}
.card-responsive{
    flex-direction: row;
}

span{
display: block;
white-space: nowrap;
border-right: 5px solid var(--bg-secondary);
width: 20ch;
    animation: write 4s steps(20),
            flicker 0.4s infinite alternate;
            overflow: hidden;
}

@keyframes write {
    from{
        width: 0;
    }
}
@keyframes flicker {
    70%{
        border-color: transparent;
    }
}

@media (min-width: 350px) and (max-width: 710px){
	.card-responsive {
        flex-direction: column;
      }
}
.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 20px;
    font-family: "Roboto", sans-serif;

    span {
        text-align: justify;
        font-size: 24px;
        font-weight: 700;
        color: var(--secondary-text);
    }
    
    h1 {
        text-align: justify;
        font-size: 38px;
        font-weight: 900;
        color: var(--primary-text);
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius:10%;
           
    }
    /* .main-img img{
        max-width: 300px;
        height: 200px;
        border-radius:10%;
        border:dashed  4px var(--third-color);
    }  */
}

