<main>
    <div class="main-section pad-70 card-responsive">
        <div class="headline">
            <div class="center">
                <img src="assets\volar.png" alt="">
            </div>
            <span>INTELLIGENT WORLD</span>
            <h1>Cumple tu sueño de estudiar en el exterior!</h1>
            <div class="center">
                <app-main-btn></app-main-btn>
            </div>
         
        </div>
        <img src="assets\principal.jpeg" width="380" height="416">
    </div>
</main>