.btn {
    border: none;
    border-radius: 30px;

    cursor: pointer;
    padding: 16px 20px;
    
    &:disabled {
        opacity: 0.6;
    }

    &.primary {
        color: white;
        background: -webkit-linear-gradient(180deg, var(--primary-color), var(--secondary-color));

        font-size: 16px;
        font-weight: bold;
    }

    &.secondary {
        background: white;
        color: var(--primary-text);

        font-size: 12px;
        font-weight: bold;
    }
}

.zoom {
	transition: transform 0.2s;
}

.zoom:hover {
	transform: scale(1.4);
}

.shine-effect {
	cursor: pointer;
	position: relative;
	transition: transform 200ms ease;
	overflow: hidden;
}

.shine-effect:before {
	content: "";
	position: absolute;
	height: 200%;
	width: 50px;
	transform: rotate(30deg);
	background-color: var(--secondary-color);
	left: -80%;
	top: -50%;
}

.shine-effect:hover {
	transform: scale(1.5);
}

.shine-effect:hover:before {
	transition: left 800ms ease;
	left: 170%;
}

@media (min-width: 768px) {
    .btn {
        padding: 20px 40px;

        .primary {
            font-size: 24px;
        } 
        .secondary {
            font-size: 16px;
        }
    }
}