<div>
<div class="introduction container">
  <h1>Testimonios</h1>
  <h4>Escucha lo que dicen nuestros clientes.</h4>
  <p>Sumérgete en las experiencias de aquellos que han confiado en nosotros para hacer realidad sus sueños. Sus historias cuentan más que nuestras palabras. ¡Descúbrelo por ti mismo!</p>
</div>

<div class="container-card" *ngFor="let item of items;let i=index">
  <div class="card zoom">
      <div class="content-card" >
          <div class="image">
              <img src="{{item.img}}" >
          </div>
          <div class="description">
            <h4>{{item.name}} </h4>
            <h5>{{item.country}}, {{item.career}}</h5>
            <p>{{item.description}}</p>
            <div class="rating">
              <span>&#9734;</span>
              <span>&#9734;</span>
              <span>&#9734;</span>
              <span>&#9734;</span>
              <span>&#9734;</span>
            </div>
        </div>
      </div>
  </div>
</div>
</div>

