<div class="container" *ngFor="let item of items;let i=index">
  <div class="card zoom">
      <div class="content-card" >
          <div class="image">
              <img src="{{item.img}}" >
          </div>
          <div class="description">
            <h4>{{item.name}} </h4>
            <h5>{{item.country}}, {{item.career}}</h5>
            <p>{{item.description}}</p>
            <div class="rating">
              <span>&#9734;</span>
              <span>&#9734;</span>
              <span>&#9734;</span>
              <span>&#9734;</span>
              <span>&#9734;</span>
            </div>
        </div>
      </div>
  </div>
</div>

