.main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card-responsive{
    flex-direction: row;
}

.rowTest{
display: block;
    flex-direction: column;
}

@media (min-width: 350px) and (max-width: 970px){
	.card-responsive {
        flex-direction: column;
      }
}  
.benefit-section {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 40px;

    .benefit-data {
        flex-direction: row;
        border-bottom: 10px solid var(--secondary-color);
        padding-bottom: 5px;

        h2 {
            font-size: 30px;
            font-weight: bold;
            font-family: "Roboto", sans-serif;
            color: var(--primary-text);

            b {
                background: -webkit-linear-gradient(180deg, var(--light-primary-color), var(--secondary-color));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-style: normal;
            }
        }
        @media (min-width: 350px) and (max-width: 450px){
            h2{
                font-size: 20px;
            }
        } 
        @media (min-width: 450px) and (max-width: 710px){
            h2{
                font-size: 25px;
            }
        } 
       
    }

    .benefit-data-words{
        flex-direction: row;
        h2 {
            font-size: 30px;
            font-weight: bold;
            font-family: "Roboto", sans-serif;
            color: var(--primary-text);

            b {
                background: -webkit-linear-gradient(180deg, var(--light-primary-color), var(--secondary-color));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-style: normal;
            }
        }
        @media (min-width: 350px) and (max-width: 710px){
            h2{
                font-size: 25px;
            }
        } 
    }

    p {
        font-size: 28px;
        font-weight: 450;
        text-align: justify;
        b {
            font-weight: bold;
            background: -webkit-linear-gradient(90deg, var(--light-primary-color), var(--secondary-color));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-style: normal;
        }
    }
    @media (min-width: 350px) and (max-width: 450px){
        p{
            font-size: 18px;
        }
    } 
    @media (min-width: 450px) and (max-width: 710px){
        p{
            font-size: 20px;
        }
    } 
}
