<main>
<section class="benefit-section pad-70">
    <div class="benefit-data">
        <h2>
            <b>10 cupos</b><br/>
            con tarifa <br/>
            especial
        </h2>
        <!-- <h2>
            10 cupos<br/>
            con tarifa especial
        </h2>
        <h2>
            10 cupos<br/>
            con tarifa especial
        </h2> -->
    </div>
    <p>Accede nuestro  <b>nuestro seminario gratuito de tres días </b> en donde te contaremos absolutamente todo lo que necesitas saber para cumplir tu sueño de estudiar en el exterior.</p>
</section>
 
</main>