main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* margin-top: 20px; */
}

.card-responsive{
    flex-direction: row;
}

@media (min-width: 350px) and (max-width: 710px){
	.card-responsive {
        flex-direction: column;
      }
}  
.benefit-section {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 40px;

    .benefit-data {
        flex-direction: row;
        border-bottom: 10px solid var(--secondary-color);
        /* border-bottom: 10px solid var(--light-primary-color); */
        padding-bottom: 20px;

        h2 {
            font-size: 48px;
            font-weight: bold;
            font-family: "Roboto", sans-serif;
            color: var(--primary-text);

            b {
                background: -webkit-linear-gradient(180deg, var(--light-primary-color), var(--secondary-color));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-style: normal;
            }
        }
    }

    p {
        font-size: 26px;
        font-style: italic;
        font-weight: 450;

        b {
            font-weight: bold;
            background: -webkit-linear-gradient(90deg, var(--light-primary-color), var(--secondary-color));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-style: normal;
        }
    }
}
