<div class="home-container">
    <!-- <div class="fondo"> -->
        <app-relevante></app-relevante>
    <!-- </div> -->
    
    <div class="container">
        <app-oferta></app-oferta>
    </div>
    
    <div class="center">
        <app-main-btn></app-main-btn>
    </div>
    <div class="container">
        <app-about-us></app-about-us>
        <app-our-mission></app-our-mission>
    </div>
    
    <div class="circle"></div>

    <div class="fondo center">
        <app-testimonials [items]="testimonialData"></app-testimonials>
    </div>
    <div class="center">
        <app-main-btn></app-main-btn>
    </div>
    <app-collage-students></app-collage-students>
  
 </div>
<br> <br><br>