.home-container{
    /* display:flex; */
    /* justify-content: space-between; */
    margin-top: 75px;
}

@media (min-width: 350px) and (max-width: 710px){
    .home-container{
        margin-top: 42px;
    }
}
@media (min-width: 710px) and (max-width: 1025px){
    .home-container{
        margin-top: 65px;
    }
}


.center{
    text-align: center;
}

.fondo{
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 2px;
    padding: 10px 0px 20px 0;
}




