<div class="main">
    <div> <div class="enumeracion izquierda">
        <div class="circulo ">1</div>
        <div class="linea"></div>
        <div class="texto"><h3>Educación Accesible</h3></div>
    </div>
</div>
    <div> <img src="https://images.pexels.com/photos/939729/pexels-photo-939729.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
<div><p> Hacer posible que todas las personas accedan a una educación de calidad a precios bajos, ofreciendo programas de estudio en el extranjero y oportunidades académicas innovadoras.</p></div>
</div>
<div class="main">
    <div> <div class="enumeracion derecha">
        <div class="circulo ">1</div>
        <div class="linea"></div>
        <div class="texto"><h3>Inspirar la Aventura</h3></div>
    </div></div>
    <div><p>Despertar la curiosidad y el deseo de explorar el mundo de manera única y emocionante.</p></div>
    <div> <img src="https://images.pexels.com/photos/939729/pexels-photo-939729.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
</div>
<div class="main">
    <div> <div class="enumeracion izquierda">
        <div class="circulo ">1</div>
        <div class="linea"></div>
        <div class="texto"><h3>Diversidad Cultural</h3></div>
    </div>
</div>
    <div> <img src="https://images.pexels.com/photos/939729/pexels-photo-939729.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
<div><p>Fomentar el entendimiento y la apreciación de otras culturas, creando espacios inclusivos donde las personas puedan aprender unos de otros.</p></div>
</div>
<div class="main">
    <div> <div class="enumeracion derecha">
        <div class="circulo ">1</div>
        <div class="linea"></div>
        <div class="texto"><h3>Desarrollo Personal</h3></div>
    </div></div>
    <div><p>Ayudar a realizar sueños y alcanzar el máximo potencial personal, proporcionando experiencias únicas que inspiren el crecimiento y la exploración del mundo.</p></div>
    <div> <img src="https://images.pexels.com/photos/939729/pexels-photo-939729.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
</div>

